<launch>

<node pkg="robot_setup_tf" type="tf_broadcaster" name="tf" output="screen"/>

<param name="X" type="double" value="0"/>
<param name="Y" type="double" value="1000"/>
<param name="Z" type="double" value="700"/>
<param name="roll" type="double" value="0"/>
<param name="pitch" type="double" value="0"/>
<param name="yaw" type="double" value="270"/>


</launch>
