<launch>

<node pkg="robot_setup_tf" type="tf_broadcaster_auto_calibrate" name="tf" output="screen"/>

<node pkg="robot_setup_tf" type="tf_listener.py" name="tf_listener" output="screen"/>

<!--
<param name="dx" type="double" value="-3.35"/>
<param name="dy" type="double" value="-40.0"/>
<param name="dz" type="double" value="42"/>
<param name="dP" type="double" value="0"/>
<param name="dR" type="double" value="-40"/>
<param name="dY" type="double" value="5"/>
-->

</launch>
